.left-column {
    display: none;
}

.right-column {
    width: 320px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    background-color: #f8f8f8;
    box-shadow: 0 1px 11px 0 rgba(133, 133, 133, 0.43);
}

@media(min-width:1024px){

    .left-column {
    display: block;
    width: 320px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    box-shadow: 0 1px 11px 0 rgba(133, 133, 133, 0.43);
    }

}