<!-- HEADER -->
<section class="header">
  <img src="../../../assets/images/logo.jpg" alt="">
</section>

<!-- USER -->
<section class="user">
  <img src="../../../assets/images/users/user01.jpg" alt="">
  <div>
    <h2>Zdravo
      <br> Jelena i Marko</h2>
    <p>
      Vaša Lafarge kuća,
      <br> Vojvode Stepe 18,
      <br> Beograd, Srbija
    </p>
  </div>
</section>

<!-- WORK -->
<section class="work">
  <div>
    <p>Početak radova</p>
    <span>12.02.2018</span>
  </div>
  <div>
    <p>Završetak radova</p>
    <span>29.03.2018</span>
  </div>
</section>

<!-- ESTIMATED -->
<section class="estimated">
  <div>
    <div>
      <p>Preostalo Dana</p>
      <span>38</span>
    </div>
    <div>
      <p>Trenutni progres</p>
      <span>57%</span>
    </div>
  </div>
  <div class="progress-bar">
    <span></span>
  </div>
</section>